<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985745161406-hi49nqbb7re5dd6ke9fuf8ue8jkqihp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985745161406-hi49nqbb7re5dd6ke9fuf8ue8jkqihp9</string>
	<key>API_KEY</key>
	<string>AIzaSyDcCFMIwS5yHVBJs9SzY5XCacD-qiV93oY</string>
	<key>GCM_SENDER_ID</key>
	<string>985745161406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastienkothe.govegan</string>
	<key>PROJECT_ID</key>
	<string>govegan-da048</string>
	<key>STORAGE_BUCKET</key>
	<string>govegan-da048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985745161406:ios:f8c47fbe98cb121f8772ef</string>
</dict>
</plist>